.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.numeroDisplay {
    text-align: right;
    border: 2px solid #000fff;
    border-radius: 10%;
    margin: 3px;
    padding: 3px;
}

body {
    background-color: #dddddd;
}

#numeroActual {
    background-color: #ffffff;
}

.botonCalc {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    background-color: #ffffff;
    border-radius: 50%;
}